.poke {
   height: 25rem;
   padding-left: 2rem;
   display: block;
   color: black;
   text-shadow: darkorange 2px 0px 4px;
   font-family: "handjet";
   font-size: 1.4rem;
   /* border-style: solid; */
   /* border-radius: 2rem; */
}

.pokemonList ul li {
   text-decoration: none;
   list-style-type: none;
   padding-top: 0.4rem;
   padding-left: 2rem;
   float: left;
}

.pokemonList {
   align-self: center;
}

h1 {
   padding-top: 1rem;
   padding-left: 6rem;
   color: black;
   text-shadow: darkorange 2px 0px 4px;
   font-family: "orbitron";
   font-size: 2rem;
}

.pokeName {
   color: black;
   text-shadow: aqua 2px 0px 4px;
}

.typing {
   color: black;
   text-shadow: #666 2px 0px 4px;
}

.outcomeCSS {
   color: black;
   text-shadow: black 0.5px 0px 4px;
   font-family: "orbitron";
   font-size: 1.2rem;
}

.outcomeHeader {
   display: block;
   color: black;
   padding-top: 0.8rem;
   text-shadow: #0f0 2px 0px 4px;
   font-family: "orbitron";
   font-size: 1.4rem;
   height: 12%;
}

.outcomeBlock {
   display: block;
   padding-left: 5rem;
   float: left;
   width: 80%;
   height: 13%;

}

.noticeBlock {
   display: block;
   float: left;
   color: black;
   text-shadow: red 0.5px 0px 4px;
   font-family: "orbitron";
   padding-top: 0.8rem;
   padding-left: 5rem;
   width: 58rem;
}

.buttonStyle {
   background-color: transparent;
   box-shadow: darkorange 2px 2px 2px;
   color: black;
   border-color: red;
   cursor: pointer;
   border-radius: 8%;
   height: 8%;
   font-family: "orbitron";
}

.textBoxStyle {
   background-color: transparent;
   box-shadow: darkorange 1.4px 1.4px 1.4px;
   color: black;
   position: relative;
   bottom: 0.1rem;
   border-color: red;
   font-family: "orbitron";
   width: 30%;
   height: 6.5%;
}

.randomize {
   padding-left: 6.5rem;
}

.randomLabel {

   color: black;
   text-shadow: darkorange 2px 0px 4px;
   font-family: "handjet";
   font-size: 1.4rem;
}

.randomize .buttonStyle {
   height: 2rem;
   position: relative;
   bottom: 0.1rem;
   border-radius: 6%;
}